name: CI with Gradle

on:
  pull_request:
    branches:
      - main
      - stg
      - dev
  push:
    branches:
      - main
      - stg
      - dev

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. checkout : Git으로부터 소스코드 가져오기
      - name: Checkout source
        uses: actions/checkout@v4

      # 2. JDK 세팅
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # 3. Gradle 캐시
      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      # 4. 권한 주기 (리눅스에서 gradlew 실행권한)
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # 5. 빌드 + 테스트
      - name: Build with Gradle
        run: ./gradlew clean build